<section class="section">
  <div class="container">
    <table class="table-wrapper">
      <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Author</th>
        <th>Message</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of messages | async">
        <td>{{message.id}}</td>
        <td>{{message.date | date}}</td>
        <td>{{message.author}}</td>
        <td>{{message.message}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
